$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$green: #06842c;


input[type="checkbox"] {
    position: relative;
    width: 2.5rem;
    height: 2.5em;
    color: $black;
    border: 1px solid $gray;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

    &::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 30%;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }

    &:checked {
        color: $white;
        border-color: #fc4168;
        background: #fc4168;

        &::before {
            opacity: 1;
        }

        ~label::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}

label {
    position: relative;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 0.25em 0;
    user-select: none;

    &::before {
        position: absolute;
        content: attr(data-content);
        color: $lightgray;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        text-decoration: line-through;
        text-decoration-thickness: 3px;
        text-decoration-color: $black;
        transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.tras {
    font-size: 2.5rem;
    color: red;
}

.todo_list {
    p {
        display: flex;
        margin: 0;
        align-items: center;

    }

    label {
        font-size: 1.8rem;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 600;
        margin-left: 1rem;
        transform: translateY(2px);
    }

    i {
        cursor: pointer;
    }
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}